@import 'tailwindcss';

@layer utilities {
	:root {
		--background: #ffffff;
		--foreground: #1572d3;
		--foreground-alt: #ecf5ff;
		--muted: #6d6d6d;
	}
}

@theme {
	--color-primary: var(--foreground);
	--color-secondary: var(--muted);
	--color-tertiary: var(--background);
	--blue-1: var(--foreground);
	--blue-2: #ecf5ff;
	--blue-3: #051c34;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #333333;
	overflow-x: hidden;
}
